.catalog-list {
    &__description {
        padding-bottom: 30px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
    }

    .catalog-item {
        width: 33.3%;
        min-width: 33.3%;
        padding-left: 1.5%;
        padding-right: 1.5%;
    }

    &__file {
        text-align: center;
        padding-bottom: 30px;
    }

    &__category {
        padding-bottom: 30px;
    }

    &__download {
        color: $blue;
        font-size: 24px;
        display: inline-block;
        transition: 0.3s;

        &:hover {
            color: $green;
        }
    }
}

@media (max-width: $mobile-point) {
    .catalog-list {
        &__items {
            display: block;
        }

        .catalog-item {
            width: 100%;
            min-width: 100%;

            &_empty {
                display: none;
            }
        }
    }
}
