.button {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    color: $black-light;
    display: inline-block;
    letter-spacing: 1px;
    padding: 8px 25px;
    border: 2px solid $green;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s;
    outline: none;
    text-shadow: none;

    &:hover {
        background-color: $green;
        border: 2px solid $green;
        color: $white;
    }
}
