.slider-presentation {
    position: relative;

    &__slide {
        text-align: center;
        font-size: 0;
    }

    &__slide-img {
        width: 1200px;
        display: inline-block !important;
    }

    &__controls {
        padding-bottom: 10px;
        padding-top: 10px;
        background-color: #e3f0f6;

        .slick-list {
            padding-top: 35px !important;
            padding-bottom: 35px !important;
            overflow-x: hidden !important;
            overflow-y: visible !important;
        }
    }

    &__slide-control-wrap {
        text-align: center;
        outline: none;
        display: flex !important;
        align-items: flex-end;
        transition: 0.3s;
        position: relative;
        cursor: pointer;
        justify-content: center;

        &.slick-center {
            transform: scale(2);
            z-index: 1;
            width: auto !important;
        }
    }

    &__slide-control {
        width: 85px;
        height: 45px;
        position: relative;
        transition: 0.3s;
        display: inline-block;
        font-size: 0;
        //margin: 0 10px;
    }

    &__slide-control-img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid $blue;
    }

    &__controls-container {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    &__arrow {
        position: absolute;
        top: 50%;
        margin-top: -15px;
        z-index: 1;
        cursor: pointer;
        height: 30px;
        width: 30px;
        background-color: transparent;
        display: inline-block;
        border-left: 2px solid $black;
        border-bottom: 2px solid $black;
        border-right: 2px solid transparent;
        border-top: 2px solid transparent;
        transform: rotate(45deg);
        transition: 0.5s;
        outline: none;

        &_prev {
            left: 35px;
        }

        &_next {
            right: 35px;
        }

        &:hover {
            border-left: 2px solid $green;
            border-bottom: 2px solid $green;
        }

        &_next {
            transform: rotate(-135deg);
        }
    }
}

@media (max-width: $small-device-point) {
    .slider-presentation {
        &__slide-img {
            width: 100%;
        }

        .slick-list {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
}

@media (max-width: $tablet-point) {
    .slider-presentation {
        &__controls-container {
            width: 700px;
        }
    }
}

@media (max-width: $mobile-point) {
    .slider-presentation {
        &__controls-container {
            width: 325px;
        }

        &__slide-control {
            width: 105px;
            height: 55px;
        }
    }
}
