$mobile-point: 767px;
$tablet-point: 991px;
$small-device-point: 1160px;

$container-big: 1200px;
$container: 1050px;
$container-small: 992px;
$container-table: 768px;




$white: #ffffff;
$white-dark: #f2f2f2;
$black: #000000;
$black-light: #4b575f;
$green: #abcc70;
$blue: #00485e;
$blue-light: #376480;
$gray: #d1d1d1;

$facebook: #3b5998;
$vk: #45668e;
$instagram: #e1306c;
$youtube: #cd201f;
