.catalog-item {
    font-size: 14px;
    box-sizing: border-box;
    padding-bottom: 40px;

    &__img {
        padding-bottom: 25px;
        height: 270px;

        img {
            max-width: 100%;
            height: 270px;
        }
    }

    &__title {
        color: $green;
        font-weight: 700;
        letter-spacing: 0.5px;
        padding-bottom: 5px;
    }

    &__description {
        line-height: 1.3;

        li {

            &:before {
                top: 6px !important;
            }

            & + li {
                margin-top: 0 !important;
            }
        }

        p {
            padding-bottom: 0 !important;
        }
    }
}

@media (max-width: $mobile-point) {
    .catalog-item {
        padding-right: 0;
        padding-bottom: 30px;

        &__img {
            padding-bottom: 10px;
        }
    }
}
